.idea/.name
.ipynb_checkpoints/
__pycache__/
config/params_2.cfg
config/params_1.cfg
pytest.ini
.pytest_cache/
geckodriver.log
.idea/
.vscode/
tests/__pycache__/
tests/test_flask.py
tests/conftest.py
